<footer id="footer" class="footer">
    <div class="site-footer-nav">
        <div class="container">
            <div class="footer-fill">
                <div class="footer-menu">
                    {$Think.config.web.web_footer_title}
                </div>
                <div class="flex-md-fill"></div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-left">
                    {$Think.config.web.web_Copyright|raw}
                </div>
                <div class="footer-bottom-right">
                    {$Think.config.web.web_Copy|raw}
                </div>
            </div>
        </div>
    </div>
    <div id="backtop" class="backtop">
        <div class="bt-box top" title="返回顶部">
            <i class="fa fa-rocket fa-rotate-15"></i>
        </div>
        <div class="bt-box kfqq" title="客服QQ">
            <a href="https://wpa.qq.com/msgrd?v=3&amp;uin=840162678&amp;site=qq&amp;menu=yes" rel="nofollow" target="_blank" title="企鹅号"><i class="fa fa-qq"></i></a>
        </div>
        <div class="bt-box qrcode" title="微信扫码">
            <i class="fa fa-qrcode"></i>
            <span class="bg-qrcode" style="background-image:url(/template/conme/static/images/wxqrcode.jpg);"></span>
        </div>
        <div class="bt-box bt-comments">
            <a href="#comments" target="_self" title="发表评论"><i class="fa fa-commenting-o"></i></a>
        </div>
        <div class="bt-box bottom" title="网页底部">
            <i class="fa fa-sign-in fa-rotate-90"></i>
        </div>
    </div>
</footer>