<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$Think.lang.BackMenu}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {include file="public/file_css"}
    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset style="display: none;" id="inputSearch" class="table-search-fieldset">
            <legend>{$Think.lang.search_info}</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form id="searchData" lay-filter="searchData" onsubmit="return false;" class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">{$Think.lang.Suspect}</label>
                            <div class="layui-input-inline">
                                <input type="text" name="suspect" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" id="doSearch" lay-submit lay-filter="doSearch""><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <!--头部工具栏-->
        <div id="toolbarDemo" style="display: none;background: #fff;">
            <span id="SwitchUrl" alt="{:url('switchAt')}" style="display: none"></span>
            <span id="AddUrl" alt="{:url('add')}" style="display: none"></span>
            <!--<button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="adds">
                <i class="fa fa-plus"></i> {$Think.lang.add}
            </button>-->
        </div>
        <!--数据表格-->
        <table class="layui-hide" id="DataDemos" lay-filter="DataDemos"></table>

        <!-- 操作列 -->
        <script type="text/html" id="toolBar">
            <span id="ActionUrl" alt="{:url('add')}" title="{$Think.lang.view}" style="display: none"></span>
            <span id="DelUrl" alt="{:url('delAll')}" style="display: none"></span>
            <span id="FieldUrl" alt="{:url('updateField')}" style="display: none"></span>
            <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edits">{$Think.lang.view}</button>
            <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{$Think.lang.del}</button>
        </script>

    </div>
</div>

{include file="public/file_js"}
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#DataDemos',
            url: '{:url("datalist")}',
            toolbar: '#toolbarDemo',
            method: 'get',
            page: true,  //开启分页
            limit: 10,  //默认10条
            height: '550', // 最大高度减去其他容器已占有的高度差
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '{$Think.lang.search}',
                layEvent: 'laySearch',
                icon: 'layui-icon layui-icon-search'
            }],
            cols: [[
                /*{type: "checkbox", width: 50},*/
                {field: 'id', align:"center", width: 80, title: 'ID', sort: true},
                {field: 'suspect',width:160, align: 'center',edit:true,title: '{$Think.lang.Suspect}'},
                {field: 'victim',width:160, align: 'center',edit:true,title: '{$Think.lang.Victim}'},
                {field: 'email',width:180, align: 'center',edit:true,title: '{$Think.lang.Email}'},
                {field: 'remarks',align: 'center',edit:true,title: '{$Think.lang.Remark}'},
                {field: 'createTime',width:165, align: 'center',title: '{$Think.lang.createTime}'},
                {field: 'status',width:120, align: 'center',templet:function(d){
                        if (d.status == 1) {
                            return '<input type="checkbox" name="status" value="'+d.id+'" lay-skin="switch" lay-filter="switchTest" lay-text="{$Think.lang.Confirm}|{$Think.lang.Suspected}" checked> ';
                        } else {
                            return '<input type="checkbox" name="status" value="'+d.id+'" lay-skin="switch" lay-filter="switchTest" lay-text="{$Think.lang.Confirm}|{$Think.lang.Suspected}"> ';
                        }
                    },title: '{$Think.lang.Identity}'},
                {
                    field: 'isShow', width: 100, align: 'center', templet: function (d) {
                        if (d.isShow == 1) {
                            return '<input type="checkbox" name="isShow" value="'+d.id+'" lay-skin="switch" lay-filter="switchTest" lay-text="{$Think.lang.Enable}|{$Think.lang.Disable}" checked> ';
                        } else {
                            return '<input type="checkbox" name="isShow" value="'+d.id+'" lay-skin="switch" lay-filter="switchTest" lay-text="{$Think.lang.Enable}|{$Think.lang.Disable}"> ';
                        }
                    }, title: '{$Think.lang.status}'
                },

                {fixed:'right',title: '{$Think.lang.operate}', width: 120, toolbar: '#toolBar', align: "center"}
            ]],
        });
    });
</script>
</body>
</html>