<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{$Think.lang.file_manage}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {include file="public/file_css"}
    <style>
        body{margin:0;}
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form" id="DataForm" lay-filter="DataForm">
            <span id="ActionUrl" alt="{:url('saveFile')}"></span>
            <div class="layui-form-item">
                <label class="layui-form-label">{$Think.lang.current_dir}</label>
                <div class="layui-input-block">
                    <input type="text" name="path" value="{$info.dirname}" readonly class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{$Think.lang.file_name}</label>
                <div class="layui-input-block">
                    <input type="text" name="filename" value="{$info.basename}" readonly class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <textarea name="center" style="min-height:265px;" class="layui-textarea">{$center}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit lay-filter="doSubmit">{$Think.lang.database_submit}</button>
                    <button type="reset" class="layui-btn layui-btn-primary">{$Think.lang.database_reset}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{include file="public/file_js"}
</body>
</html>