<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$Think.lang.region}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {include file="public/file_css"}
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <form class="layui-form layuimini-form" id="DataForm" lay-filter="DataForm" method="post" onsubmit="return false">
        <div class="layui-form-item">
            <input type="text" name="id" value="{$data.id}" style="display: none;">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">{$Think.lang.PositionName}</label>
            <div class="layui-input-inline">
                <input type="text" name="name" lay-verify="required" lay-reqtext="{$Think.lang.requireEmpty}" value="{$data.name}" class="layui-input">
            </div>
            <label class="layui-form-label">{$Think.lang.OrderSort}</label>
            <div class="layui-input-inline">
                <input type="text" name="orderSort" value="{$data['orderSort']?$data['orderSort']:100}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">{$Think.lang.status}</label>
            <div class="layui-input-inline">
                <input type="radio" name="status" value="1" title="{$Think.lang.Enable}" {if $data.status == 1}checked{/if} {if $data.status == ''}checked{/if}>
                <input type="radio" name="status" value="0" title="{$Think.lang.Disable}" {if $data.status === 0}checked{/if}>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">{$Think.lang.Remark}</label>
            <div class="layui-input-block">
                <textarea name="remark" class="layui-textarea" >{$data.remark}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="doSubmit">{$Think.lang.Save}</button>
            </div>
        </div>
    </form>

</div>
{include file="public/file_js"}
</body>
</html>