<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$Think.lang.AddMenu}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {include file="public/file_css"}
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <form class="layui-form" id="DataForm" lay-filter="DataForm" action="{:url('menu/ajax')}" method="post" onsubmit="return false">
        <div class="layui-form-item">
            <label class="layui-form-label">{$Think.lang.ParentMenu}</label>
            <input type="hidden" name="id" value="" >
            <div class="layui-input-block">
                <select name="pid" lay-filter="pid" layui.formselect>
                    <option value="0">{$Think.lang.DownSelect}</option>
                    {volist name="tree" id="item"}
                    <option value="{$item.id}" {if $item.id == $id}selected{/if} >{$item.p|raw}{$item.name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">{$Think.lang.cityName}</label>
            <div class="layui-input-inline">
                <input type="text" name="name" lay-verify="required" lay-reqtext="{$Think.lang.requireEmpty}" value="" class="layui-input">
            </div>
            <label class="layui-form-label required">{$Think.lang.cityCode}</label>
            <div class="layui-input-inline">
                <input type="number" name="code" value="100" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="doSubmit">{$Think.lang.Save}</button>
            </div>
        </div>
    </form>

</div>
{include file="public/file_js"}
</body>
</html>