<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$Think.lang.admin}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {include file="public/file_css"}
    <style type="text/css">
        .layui-table-cell{
            text-align:center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .layui-table img{
            max-width:100%
        }
        .red{color:red;}
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <blockquote class="layui-elem-quote layui-quote-nm">
            自动绑定分类
        </blockquote>

            {volist name="type" id="vo"}

                <a href="javascript:;" class="select_type">{$vo.type_name|raw}</a> ==》
                <a id="{$param['cjflag']|mac_filter_xss}_{$vo.type_id}" data-ids="1" class="j-select" >
                    {if $vo.isbind eq 1}
                    <span class="red">[{$vo.local_type_name}]{:lang('collect_auto_success')}</span>
                    {else}
                    [{:lang('bind')}]{:lang('collect_auto_fail')}
                    {/if}
                </a>
        <hr class="layui-border-orange">
            {/volist}


        <div class="selected-type" style="display:none;">
            <form class="layui-form" id="DataForm" lay-filter="DataForm" method="post" onsubmit="return false">
                <span id="ActionUrl" alt="{:url('bind')}" style="display:none;"></span>
                <div class="layui-input-inline">
                    <!--<input type="hidden" name="ids" id="ids" value="1">-->
                    <input type="hidden" name="col" id="col" value="2">
                    <select name="val">
                        <option value="">{$Think.lang.DownSelect}</option>
                        {volist name="tree" id="item"}
                        <option value="{$item.id}">{$item.p|raw}{$item.name}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <button class="layui-btn" lay-submit lay-filter="doSave">确认</button>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="public/file_js"}
<style>
    /* 强制内容区域允许溢出 */
    .layui-layer-content {
        overflow: visible !important;
    }
</style>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        // 分类筛选
        $('.select_type').click(function(){
            let t = $(this).attr('data-id');
            table.reload('DataDemos', {
                where: {
                    t:t,
                },
                done:function(res){
                    let todayUrl = "{:url('collectData')}?"+res.today;
                    let allUrl = "{:url('collectData')}?"+res.all;
                    $(".todayCollect").attr('href',todayUrl);
                    $(".allCollect").attr('href',allUrl);
                }
            }, true);
        });

        $('.j-select').click(function(){
            var that = $(this);
            let col = that.attr('id');
            let ids = that.attr('data-ids');
            $('#col').val(col);
            $('#ids').val(ids);
            // 在此处输入 layer 的任意代码
            layer.open({
                type: 1, // page 层类型
                offset:'36px',
                area: ['300px', '100px'],
                shade: 0.6, // 遮罩透明度
                shadeClose: true, // 点击遮罩区域，关闭弹层
                maxmin: true, // 允许全屏最小化
                anim: 0, // 0-6 的动画形式，-1 不开启
                content: $('.selected-type')
            });
            //form.render('select');
        });

        form.on('submit(doSave)',function(obj){
            let format = obj.form;
            let formId = $(format).attr('id');
            let formData =  new FormData($('#'+formId)[0]); //获取整个表单数据
            let wait = 2000;
            let ActionUrl = $('#ActionUrl').attr('alt');
            if(ActionUrl){
                url = ActionUrl;
            }
            //异步发送，把数据提交给后台
            $.ajax({
                url: url,
                type: "POST",
                data:formData,
                async:true,  //true发送异步请求,false发送同步请求
                processData: false,  // 告诉jQuery不要去处理发送的数据
                contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
                beforeSend: function(){
                    var loading = layer.load(1,
                        {
                            shade:[0.3,'#000'],
                            content:'<span class="loadtip">0%</span>',
                            success: function (layer) {
                                layer.find('.layui-layer-content').css({
                                    'padding-top': '40px',
                                    'width': '100px',
                                });
                                layer.find('.loadtip').css({
                                    'font-size':'20px',
                                    'margin-left':'0px'
                                });
                            }
                        }
                    );
                },
                xhr: function() {
                    var xhr = new XMLHttpRequest();
                    xhr.upload.addEventListener('progress', function(event) {
                        if (event.lengthComputable) {
                            //通过设置进度条的宽度达到效果
                            var percent = Math.round((event.loaded / event.total) * 100);
                            $('.loadtip').html(percent + '%');//完成进度（文字）
                            //console.log('loading:'+percent);
                        }
                    }, false);
                    return xhr;
                },
                success: function (data) {
                    let obj = JSON.parse(data);
                    if(obj.code == 200){
                        //关闭所有弹出层
                        //layer.closeAll();
                        //table.reload("DataDemos");  //重载数据表格
                        layer.msg(obj.msg,{icon:1,time:wait,shade:0.3});
                        setTimeout(function(){
                            // 获得iframe索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            layer.closeAll();
                            if(obj.data.local_type_name){
                                $('#'+obj.data.id).html('<span class="red">['+obj.data.local_type_name+']{:lang(\'collect_auto_success\')}</span>');
                            }else{
                                $('#'+obj.data.id).html('[{:lang(\'bind\')}]{:lang(\'collect_auto_fail\')}');
                            }
                        },wait);
                    }else{
                        layer.closeAll('loading'); //关闭加载层
                        layer.msg(obj.msg,{icon:2,time:wait,shade:0.3});
                    }
                },
                error: function () {
                    layer.msg("上传失败！",{icon:2,time:wait,shade:0.3});
                    $("#imgWait").hide();
                    layer.closeAll('loading'); //关闭加载层
                }
            });
            return false;
        });

    });
</script>
</body>
</html>